<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style type="text/css">
    table, tr {
        border: 1px black solid;
    }
</style>
<body>
<textarea name="code" title="code" style="width:30%; height:100%">
    {{ result.executed_code }}
</textarea>

<table>
    <tr>
        <th>input</th>
        <th>expect</th>
        <th>result</th>
        <th>verdict</th>
        <th>time</th>
    </tr>

    {% for t in result.tests %}
        <tr>
            <td>{{ t.input }}</td>
            {%- if t.expect is string %}
                <td>"{{ t.expect }}"</td>
            {%- else %}
                <td>{{ t.expect }}</td>
            {% endif %}
            {%- if t.result is string %}
                <td>"{{ t.result }}"</td>
            {%- else %}
                <td>{{ t.result }}</td>
            {% endif %}
            <td>{{ t.verdict }}</td>
            <td>{{ t.spent_time }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>